{
  "branches": {
    "alpha": "alpha",
    "beta": "beta",
    "develop": "develop",
    "master": "master"
  },
  "categories": [{
    "label": "<label>",
    "title": "<Title in changelog>"
  }],
  "labels": {
    "breaking": "<label for breaking changes>",
    "release": "<label for releases pull requests>"
  },
  "owner": "<repository owner>",
  "repo": "<repository name>",
  "tag": "v",
  "token": "<oauth token>"
}
